body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

.safe-screen-qwwq {
  width: 800px;
  margin: auto;
}

.page {
  position: relative;
  background-color: white;
  width: 800px;
  height: 1122.51px;
  margin: auto;
}

.page__container {
  width: 92.5%;
  margin: auto;
  padding-top: 20px;
}

.logo {
  width: 450px;
  margin-top: 20px;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.aaa {
  margin-left: 24px;
  font-size: 24px;
  font-weight: 400;
}

.aab {
  height: 200px;
  margin: auto;
  margin-top: 80px;
  background-color: #eaeaea;
  display: flex;
  position: relative;
}

.bg-star1 {
  position: absolute;
  transform: scale(2);
  margin-left: -10px;
}

.aac {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.aac_sal {
  font-size: 78px;
  font-style: italic;
  font-weight: bolder;
  color: #1dce8e;
  margin-top: -16px;
}

.aac_nam {
  font-size: 24px;
  margin-top: -16px;
  width: 100%;
  margin-left: 48px;
}

.aac_des {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: -16px;
  font-size: 14px;
}

.aad {
  display: flex;
  flex-direction: column;
  background-color: #3a4be2;
  flex: 1;
  height: 200px;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.aad_res {
  margin-top: 30px;
  font-size: 20px;
}

.aad_per {
  font-weight: bolder;
  font-size: 90px;
}

.summary {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

.summary__desc {
  margin-top: 18px;
  text-align: center;
}

.result {
  margin-top: 36px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.exct_sci,
.nat_sci {
  width: 48%;
  border-radius: 16px;
}

.exct_sci {
  background-color: #f6f6f6;
}

.nat_sci {
  background-color: #fff4de;
}

.exct_sci_title,
.nat_sci_title {
  font-weight: 700;
  text-align: center;
  padding: 4px 0;
}

.exct_sci_title {
  background-color: #c7d4fe;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.nat_sci_title {
  background-color: #dbc498;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.sum_sci_sub {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.sci_sub {
  text-align: center;
}

.sci_sub_title {
  font-weight: 700;
  margin-bottom: 10px;
}

.exct_sci_ttl {
  text-align: center;
  padding: 20px 0;
}

.sci_ttl_grade {
  font-size: 64px;
  font-weight: 700;
}

.sci_ttl_text {
  font-size: 24px;
  margin-bottom: 24px;
}

.bg-circle {
  position: absolute;
  left: 0;
}

.page-2-text {
  position: absolute;
  top: 310px;
  font-size: 25px;
  margin-left: 120px;
}

.page-2-summary-title {
  margin-top: 100px;
  font-size: 42px;
  font-weight: 700;
}

.page-2-summary {
  margin-top: 16px;
}

.page-2-summary-exc,
.page-2-summary-nat {
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.page-2-summary-exc {
  background-color: #f6f6f6;
}

.page-2-summary-nat {
  background-color: #fff4de;
}

.warning {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Page 3 Styles */
.recomendation_title {
  text-align: center;
  font-size: 36px;
  background-color: #1dce8e;
  padding: 20px 15px;
  font-weight: 700;
  max-width: 300px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  margin-top: 48px;
}

.recomendation_text {
  background-color: #eaedec;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  padding: 16px;
}

/* Page 4 Styles */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

.no_preparation,
.with_preparation {
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}

.no_preparation {
  background-color: #ffdb7e;
}

.with_preparation {
  background-color: #59db6e;
}

.preparation_to {
  font-size: 32px;
  font-weight: 700;
  padding: 16px;
  text-align: center;
}

.no_1,
.no_2,
.no_3,
.yes_1,
.yes_2,
.yes_3 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding: 16px;
  border-radius: 14px;
}

.no_1 {
  background-color: #ffe7ab;
}
.no_2 {
  background-color: #fed56c;
}
.no_3 {
  background-color: #eac054;
}
.yes_1 {
  background-color: #7ce98d;
}
.yes_2 {
  background-color: #59db6e;
}
.yes_3 {
  background-color: #34c44b;
}

.notes {
  background-color: #fff4de;
  padding: 16px;
  margin-top: 36px;
  border-radius: 12px;
}

.time-remaining {
  display: flex;
  margin-top: 30px;
}

.month-counter {
  width: 180px;
  text-align: center;
}

.month-number {
  background-color: #3a4be2;
  color: white;
  font-size: 64px;
  font-weight: 800;
  padding: 8px 36px;
  border-radius: 8px;
  margin: 8px 0;
}

.end-text {
  margin-left: 20px;
  margin-top: 48px;
  width: 400px;
}
